
<div class="home_wrapper">
	{{!-- <h3><a href="/profile/{{id}}">My Profile</a></h3> --}}
	<div class="activity">
		<h3>Activity Feed</h3>
		<h4>Going out!</h4>
		<ul style="list-style: none;">
			{{#each users}}
				
				{{#if going}}
					<li><a href="/profile/{{this._id}}">{{this.name}}</a></li>
				{{/if}}

			{{/each}}
		</ul >
		<h4>Not doing shit!</h4>
		<ul style="list-style: none;">
			{{#each users}}
				{{#unless going}}
					<li><a href="profile/{{this._id}}">{{this.name}}</a></li>
				{{/unless}}
			{{/each}}
		</ul>
	</div>
</div>




