<img src="{{image}}" width="200" height="200">

<h1>{{users.name}}</h1>

<h2>Title: {{users.title}}</h2>
<h2>{{users.location}}</h2>

<h3>Top Venues</h3>
<ul>
	{{#each users.venues}}
		<li>{{this}}</li>

	{{/each}}
</ul>

<h3>Inner Circle</h3>
<ul>

		
			{{#each users.friends}}
			<li><a href="/profile/{{this.id}}">{{this.name}}</a></li>

		{{/each}}
</ul>

{{!-- this button will determine if they are going out and then change the goinout property in object to true or false which will then determin what the feed reads --}}
<form>
	<input type="radio" name="In" value="true" > Going Out!!!!<br>
	<input type="radio" name="Out" value="false"> Staying In :(
</form>
<br>

{{#if users.logged}}
<h3>Chat</h3>
<input placeholder="Write on {{users.name}}'s' wall!"/>

{{/if}}

<br>

<a href="/home">Home</a>