<div class="profile_main">	

	<div class="status">


		<div class="name">
	
			<div class="user">{{users.name}}</div>
			<a href="/home">Home</a>
		</div>
		{{image}}
		<img src="{{users.image}}" width="200" height="200">
		{{#if current}}
			{{!-- {{users.going}} --}}
			{{#if users.going}}
				<label class="switch">
					  <input id="status" type="checkbox" checked>
					  <div class="slider round"></div>
					</label>
					<br>
			{{else}}
					{{going}}
					<label class="switch">
					 <input id="status" type="checkbox">
					  <div class="slider round"></div>
					</label>
					<br>
			{{/if}}
		{{/if}}


	</div>

	
	<div class="profile_wrapper">
		<div class="profile_text">	
			<div class="profile_col">
				<div class="profile_header">{{users.title}}</div>
			</div>
			<div class="profile_col">
				<div class="profile_header">{{users.location}}</div>
			</div>
			<div class="profile_col">
				<div class="profile_header">Top Venues:</div>
			</div>
				<ul>
					{{#each users.venues}}
						<li>{{this}}</li>

					{{/each}}
				</ul>
			
		</div>
		{{!-- 
		<h3>Inner Circle</h3>
		<ul>

				
					{{#each users.friends}}
					<li><a href="/profile/{{this.id}}">{{this.name}}</a></li>

				{{/each}}
		</ul> --}}

		{{!-- this button will determine if they are going out and then change the goinout property in object to true or false which will then determin what the feed reads --}}

		{{!-- 
		{{#if users.logged}}
		<h3>Chat</h3>
		<input placeholder="Write on {{users.name}}'s' wall!"/>

		{{/if}}
		 --}}
		 <div class="chat">
			 <form action="/post" method="POST">
			<input name="text" placeholder="Type your post here"style="width: 300px;"/>
			<input name="userId" value="{{id_page}}" type="hidden" />
			<button>Submit</button>
			</form>
			
			<p>
			<div class="chat_text">
				{{#each users.posts}}
					{{this.text}} <br>
				{{/each}}
			</div>
			</p>
			<br>
		</div>
	</div>

	<br>
	{{!-- <button id="delete">Delete Profile</button> --}}
	{{!-- <form action="/profile/{{id}}" method="DELETE">
	<button>Submit</button>
	</form> --}}
</div>